@model Shitter.Models.User

<div class="row">
    <div class="col-md-11 user-left-panel-div">
        <div class="row blue-semi-div"></div>
        <div class="row user-left-panel-info">
            <div class="col-md-4 user-left-pannel-photo-container">
                <img src="@Model.ImageDataUrl" alt="@Model.UserName avatar" class="img-responsive user-left-pannel-photo" />
            </div>
            <div class="col-md-7">
                <h4><strong class="underline-text">@Model.FullName</strong></h4>
                <div class="user-tag-name underline-text">@@@Model.UserName</div>
            </div>
            <div class="col-md-12 user-shitts-following-info">
                <div class="col-md-4">
                    <a href="/users/profile/@Model.UserName" class="user-shitts-folloers-following-links">
                        <div class="shitts-folloers-following-headings">Shitts</div>
                        <div class="user-info-counts" id="user-info-shitts-count">@Model.PostedShitts.Count</div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/users/profile/@Model.UserName/#following" class="user-shitts-folloers-following-links">
                        <div class="shitts-folloers-following-headings">Following</div>
                        <div class="user-info-counts" id="user-info-following-count">@Model.Following.Count</div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/users/profile/@Model.UserName/#followers" class="user-shitts-folloers-following-links">
                        <div class="shitts-folloers-following-headings">Followers</div>
                        <div class="user-info-counts" id="user-info-followers-count">@Model.Followers.Count</div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>



