@using Microsoft.AspNet.Identity

@model Shitter.Web.Models.Shitts.ShittViewModel

<div class="shitt-div-container" id="shitt-@Model.Id">
    <div class="row shitt-div-heading">
        <div class="col-md-3 shittt-user-photo-container">
            <a href="/users/profile/@Model.OwnerUsername">
                <img src="@Model.OwnerImageDataUrl" class="img-responsive shittt-user-photo" />
            </a>
        </div>
        <div class="col-md-9 shittt-user-info-container">
            <div class="row">
                <span class=""><strong><a href="/users/profile/@Model.OwnerUsername" class="black-text-link">@Model.OwnerName</a></strong></span>
                <span class="user-tag-name">@@@Model.OwnerUsername</span>
                <span class="shitt-date">@Model.CreatedOn.ToString("hh:mm MMM dd, yyyy")</span>
            </div>
            <div class="row shitt-div-content">
                <p class="shitt-content-paragraph">@Model.Content</p>
                @if (@Model.ImageDataUrl != null)
                {
                    <div class="center shitt-post-photo-container">
                        <img src="@Model.ImageDataUrl" alt="shitt image" class="img-responsive shitt-post-photo" />
                    </div>
                }
            </div>
        </div>
    </div>
    @*ROW WITH BUTTONS*@
    <div class="row shitt-post-buttons-row">
        @*SHITT COMMENTS BUTTON*@
        <div class="col-md-4">
            @if (User.Identity.IsAuthenticated)
            {
                <button class="show-shitt-comments-link btn btn-default shitt-row-button" data-id="@Model.Id">
                    <span class="glyphicon large-glyphicons glyphicon-pencil" title="comment" aria-hidden="true"></span>
                    <span id="shitt-comments-count-@Model.Id" class="text-info underline-text">@Model.ShittCommentsCount</span>
                    <span class="text-info underline-text">comments</span>
                </button>
            }
        </div>
        @*FAVOURITE/UNFAVOURITE SHITT BUTTON*@
        <div class="col-md-4">
            @if (User.Identity.IsAuthenticated)
            {
                if (@Model.IsFavourite)
                {
                    <span id="favourite-unfavourite-button-@Model.Id">
                        @Html.Partial("_UnfavouriteShittButtonPartial", new ViewDataDictionary { { "id", Model.Id } })
                    </span>
                }
                else
                {
                    <span id="favourite-unfavourite-button-@Model.Id">
                        @Html.Partial("_FavouriteShittButtonPartial", new ViewDataDictionary { { "id", Model.Id } })
                    </span>
                }
                @*VIEW USERS WHO LIKE SHITT BUTTON*@
                <a href="#view-favourites" data-toggle="modal" data-backdrop="true" data-id="@Model.Id">
                    <span class="text-info" id="shitt-favourites-count-@Model.Id">@Model.FavoureitesCount</span>
                    <span>stars</span>
                </a>
            }
        </div>
        @*RENDER DELETE SHITT BUTTON IF USER IS AUTHENTICATED AND OWNER OF SHITT*@
        <div class="col-md-3">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.Name == Model.OwnerUsername)
                {
                    <a href="#delete-shitt" role="button" class="btn btn-sm btn-danger delete-shitt-button" data-toggle="modal" data-backdrop="true" data-id="@Model.Id">
                        Delete &nbsp;<span class="glyphicon large-glyphicons glyphicon-remove" title="delete" aria-hidden="true"></span>
                    </a>
                }
            }
        </div>
    </div>
</div>

@*SHITT COMMENTS*@
<div class="shitt-comments-div-container" id="shitt-comments-container-@Model.Id">
    @Html.Partial("_PostShittCommentPartial", new ViewDataDictionary { { "id", Model.Id } })
    <div id="current-posted-comment-div-@Model.Id">
    </div>
    <div id="shitt-comments-list-div-@Model.Id">
        <img src="~/Content/Images/loading-ajax.gif" class="img-responsive center" />
    </div>
    <div class="row hide-comment-div">
        <a href="" class="pull-right close-shitt-comments-div" data-id="@Model.Id">Hide</a>
    </div>
</div>
