@model Shitter.Web.Models.Shitts.ShittViewModel

<div class="shitt-div-container">
    <div class="row shitt-div-heading">
        <div class="col-md-3 shittt-user-photo-container">
            <a href="/users/profile/@Model.OwnerUsername">
                <img src="@Model.OwnerImageDataUrl" class="img-responsive shittt-user-photo" />
            </a>
        </div>
        <div class="col-md-9 shittt-user-info-container">
            <div class="row">
                <span class=""><strong><a href="/users/profile/@Model.OwnerUsername" class="black-text-link">@Model.OwnerName</a></strong></span>
                <span class="user-tag-name">@@@Model.OwnerUsername</span>
                <span class="shitt-date">@Model.CreatedOn.ToString("hh:mm MMM dd, yyyy")</span>
            </div>
            <div class="row shitt-div-content">
                <p class="shitt-content-paragraph">@Model.Content</p>
              
                    @if (@Model.ImageDataUrl != null)
                    {
                        <div class="center shitt-post-photo-container">
                            <img src="@Model.ImageDataUrl" alt="shitt image" class="img-responsive shitt-post-photo" />
                        </div>
                    }
                       
            </div>
        </div>
    </div>
</div>
